*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    background-color: green;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* .image{
    width: 300px;
    height: 500px;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.about{
    width: 600px;
    height: 500px;
    background-color: blueviolet;
    padding-top: 30px;
    position: relative;
    border-radius: 10px;
}
.about h2{
    color: #89b758;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    line-height: 1.4;
}
.about h1{
    color: #29361a;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 3.8rem;
    line-height: 1.1;
    padding-top: 20px;
}
.about p{
    color: #808080;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    padding-top: 20px;
}
.photo{
    width: 300px;
    height: 500px;
    object-fit: cover;
}
.photo img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.btn button{
    border-radius: 100px;
    position: absolute;
    bottom: -26px;
    right: 224px;
    font-size: 40px;
    background-color: #89b758;
    color: white;
} */

.position{
    width: 500px;
    height: 300px;
    background-color: blue;
    position: relative;
    display: flex;
    justify-content: center;
}

section .position .absolute{
    border-radius: 50%;
    display: flex;
    background-color: aqua;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: -20px;
    width: 72px
}

section .position .absolute i{
    border-radius: 50%;
    text-align: center;
    width: 72px;
    height: 72px;
}

